#modle{
	background: rgba(0,0,0,0.6);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 8;
}
.screen{
	position:fixed;
	top:70px;
	left:0;
	width:100%;
	z-index:9;
	background:#fff;
}
.screen>div{
	color:#333;
	font-size:14px;
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #eee;
	background:url(../images/select.png) no-repeat 75% center;
}
.screen>div.active{
	color:#264fd4;
	background:url(../images/select_active.png) no-repeat 75% center;
}
.screen ul{
	position:absolute;
	width:100%;
	overflow:hidden;
	left:0;
	top:41px;
	z-index:9;
	background:#fff;
	padding:0 15px;
}
.screen ul li{
	list-style:none;
	width:100%;
	padding:10px 20px 10px 33px;
	border-bottom:1px solid #eee;
	font-size:14px;
	color:#999;
}
.screen ul li.active{
	background:url(../images/select_true.png) no-repeat 5px center;
	color:#264fd4;
}

.screen ul li i{
	font-style:normal;
	float:right;
}
.test_list{
	padding-top:40px;
}

/***********************统计*************************/
.screen2{
	position:fixed;
	top:70px;
	left:0;
	width:100%;
	z-index:9;
	background:#fff;
}
.screen2>div{
	color:#d8e1ff;
	font-size:14px;
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #eee;
	background:#264fd4;
}
.screen2>div.active{
	color:#f2f5ff;
	background:#264fd4 url(../images/screen_bg.jpg) no-repeat center bottom;
}
.table1{
	width:100%;
	margin-top:10px;
}
.table1 thead th{
	font-size:14px;
	color:#333;
	text-align:center;
	font-weight:normal;
	padding:10px 0;
	background:#f2f2f2;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.table1 tbody td{
	font-size:14px;	
	color:#666;
	background:#fff;
	text-align:center;;
	padding:10px 0;
	border-bottom:1px solid #eee;
}

/********************************mine******************************/
.mine{
	overflow:hidden;
	position:relative;
	height:260px;
	background:url(../images/mine.jpg) no-repeat center center;
}
.mine>span{
	padding:15px 0;
	text-align:center;
	font-size:16px;
	color:#fff;
	display:block;
}
.mine>img{
	display:block;
	margin:0 auto 20px;;
	position:absolute;
	z-index:9;
	width:150px;
	height:150px;
	left:50%;
	top:50%;
	margin:-65px 0 0 -75px;
}
.test_count{
	overflow:hidden;
	text-align:center;
	background:#0f2b71;
	position:absolute;
	left:0;
	width:100%;
	bottom:0;
	z-index:8;
}
.test_count>a{
	padding:20px 0;	
}
.test_count span{
	font-size:16px;
}
.test_count span.count{
	font-size:22px;
	display:block;
	font-weight:bold;
	color:#8bc7f9;
}
.my_list{
	margin-top:10px;
}
.my_list ul{
	background:#fff;
}
.my_list ul li{
	list-style:none;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	font-size:16px;
	color:#333;
}
.my_list ul li a{
	color:#333;
	display:block;
	width:100%;
	height:100%;
	padding:10px 20px 10px 50px;
}
.my_list ul li:first-child{
	background:url(../images/my1.png) no-repeat 5% center,url(../images/next.png) no-repeat 95% center; 
}
.my_list ul li:last-child{
	background:url(../images/my2.png) no-repeat 5% center,url(../images/next.png) no-repeat 95% center; 
	border-top:0;
}
.usual_btn{
	width:90%;
	display:block;
	margin:40px auto;
	background:#ec3232;
	color:#fff;
	font-size:16px;
	border:0;
	border-radius:5px;
	padding:12px 0;
}
.usual_btn2{
	width:90%;
	display:block;
	margin:40px auto;
	background:#9c9c9c;
	color:#fff;
	font-size:16px;
	border:0;
	border-radius:5px;
	padding:12px 0;
}
/*************************************修改密码******************************/
#title{
	text-align:center;
	font-size:16px;
	position:relative;
	background:#264fd4;
	color:#e8ebf4;
	padding:15px 0;
}
#title img{
	position:absolute;
	left:20px;
	top:14px;
}
#title a{
	position:absolute;
	right:20px;
	top:16px;
	color:#e8ebf4;
}
.tip{
	color:#999;
	font-size:14px;
	background:#fff;
	padding:15px;
	display:block;
	border-bottom:1px solid #eee;
}

.table_pwd{
	width:90%;
	margin:40px auto;
}
.table_pwd th{
	width:30%;
	text-align:right;
	font-weight:normal;
	font-size:16px;
	color:#333;
	padding:8px 0;
}
.table_pwd td{
	width:70%;
	padding:8px 0;
}
.table_pwd td input[type="password"]{
	height:40px;
	line-height:40px;
	font-size:15px;
	color:#333;
	border:1px solid #eee;
	background:#fff;
	width:93%;
	padding-left:15px;
}
/****************************搜索**********************************/
.search_screen{
	background:#fafafa;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.search_screen ul li{
	float:left;
	width:20%;
	list-style:none;
	padding:0 10px;
	font-size:14px;
}
.search_screen ul li a{
	display:block;
	width:100%;
	height:100%;
	padding:10px 0;
	text-align:center;
	color:#333;
}
.search_screen ul li.active a{
	font-weight:bold;
	border-bottom:3px solid #264fd4;
}
.search_tip{
	display:block;
	width:100%;
	padding:10px 20px;
	font-size:14px;
	color:#999;
	background:#fff;
}
.search_list1,.search_list2{
	overflow:hidden;
}
.search_list1 li{
	float:left;
	margin:10px 0 10px 20px;
	list-style:none;
	border-radius:15px;
	font-size:14px;
	color:#666;
	background:#ececec;
}
.search_list1 li a{
	display:block;
	padding:5px 10px;
	width:100%;
	height:100%;
	color:#666;
}
.search_list2 li{
	list-style:none;
	width:100%;
	padding:0 15px;
	font-size:14px;
	color:#666;
}
.search_list2 li a{
	border-bottom:1px solid #eee;
	width:100%;
	color:#666;
	display:block;
	height:100%;
	padding:10px 15px;
	background:#fafafa url(../images/next.png) no-repeat 95% center;
}
.layui-date .layui-laydate,.layui-date .layui-laydate-hint{
	display:table;
	margin:20px auto;
}

/*****************************消息中心************************************/
.info_list{
	padding:15px;
	overflow:hidden;
}
.info_list li{
	width:100%;
	padding:0 0 15px 25px;
	list-style:none;
	position:relative;
	background:url(../images/line3.png) repeat-y 6px 27px,url(../images/point.png) no-repeat 0px 14px;
}
.info_list li::before{
	content:'●';
	position:absolute;
	left:-3.5px;
	top:-3px;
	display:block;
	z-index:9;
	font-size:32px;
	color:#999;
}
.info_list li.news::before{
	color:red;
}
.info_list li.news:first-child,.info_list li:first-child{
	width:100%;
	padding:0 0 15px 25px;
	list-style:none;
	background:url(../images/line3.png) no-repeat 6px 27px,url(../images/point.png) no-repeat 0px 14px;
}
.info_list li.news{
	background:url(../images/line3.png) repeat-y 6px 27px,url(../images/point_active.png) no-repeat 0px 14px;
}
.info_list li dl{
	width:100%;
	padding:10px 15px;
	background:#fff;
	border:1px solid #eee;
	margin-bottom:0;
}
.info_list li.news dl dt a{
	color:#333;
}
.info_list li dl dt{
	font-size:16px;
	color:#999;
	font-weight:normal;
	margin-bottom:5px;
}
.info_list li dl dt a{
	color:#999;
}
.info_list li dl dd{
	font-size:14px;
	margin:5px 0;
	color:#999;
}
.info_list li dl dd a{
	color:#999;
}
/************************************消息中心详情************************************/
.content{
	border-top:1px solid #eee;
	padding:20px;
	background:#fff;
	margin-top:10px;
}
.content h4{
	font-weight:bold;
	color:#333;
	margin-top:0;
}
.content>p{
	font-size:14px;
	color:#999;
	margin-bottom:0;
}
.content hr{
	margin:15px 0;
	border-style:dashed;	
}
.content_text img{
	max-width:100%;
	display:block;
	margin:10px auto;
}
.content_text b{
	font-size:14px;
	color:#333;
	margin:20px 0;
	display:block;
}
.content_text p{
	text-indent:2em;
	font-size:14px;
	color:#666;
	margin-bottom:10px;
	line-height:1.5;
}

/****************************************任务详情1**********************************************/
.process{
	background:#fff;
	padding-bottom:20px;
	margin-top:10px;
	border-bottom:1px solid #eee;
}
.test_view{
	padding:10px 20px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	display:block;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.test_view a{
	display:block;
	float:right;
	width:20px;
	height:20px;
	margin-top:2.5px;
	background:url(../images/edit.png) no-repeat center center;
	background-size:100% 100%;
}
.test_view i{
	display:inline-block;
	width:25px;
	height:25px;
	border-radius:50%;
	color:#fff;
	background:#264fd4;
	font-style:normal;
	text-align:center;
	line-height:25px;
	margin-right:10px;
}
.tables{
	margin:20px auto 0;
	width:100%;
}
.tables th{
	color:#999;
	font-size:14px;
	font-weight:normal;
	padding:5px 10px;
	vertical-align:top;
	height:20px;
	line-height:30px;
}
.tables td{
	color:#333;
	font-size:14px;
	padding:5px 10px 5px 0;
}
.tables td span{
	display:block;
	width:100%;
	padding:5px 10px;
	background:#f8f8f8;
	min-height:20px;
	line-height:20px;
}
.pass_deabled{
	display:table;
	margin:20px auto;
}
.pass_deabled li{
	float:left;
	padding:8px 40px;
	border-radius:5px;
	font-size:14px;
	color:#fff;
	list-style:none;
	margin:0 10px;
}
.pass_deabled li a{
	color:#fff;
}
.pass_deabled li:first-child{
	background:#ec3232
}
.pass_deabled li:last-child{
	background:#ec9b32;
}
/******************************************任务详情编辑*********************************/
#test_edit>ul>li{
	width:100%;
	list-style:none;
	font-size:14px;
	color:#333;
	background:#fff;
	border-bottom:1px solid #eee;
}
#test_edit>ul>li:first-child{
	border-top:1px solid #eee;
}
#test_edit>ul>li a{
	color:#333;
	display:block;
	padding:10px 10% 10px 15px;
	background:#fff url(../images/next.png) no-repeat 95% center;
	background-size:8px auto;
	
}
#test_edit>ul>li span{
	display:inline-block;
	float:right;
	font-size:14px;
	color:#999;
}
.select_num{
	background:#fff;
	padding:5px 0;
	overflow:hidden;
	width:90%;
	display:table;
	margin:0 auto;
	border-top:1px solid #eee;
}
.select_num li{
	float:left;
	margin-right:20px;
	border-radius:15px;
	color:#fff;
	margin:5px 10px 5px 0;
	list-style:none;
	background:#ed9b31;
	font-size:12px;
	padding:5px 10px;
}


/**********************************选择*********************************/
.select li,.select2 li{
	width:100%;
	padding:10px 15px;
	font-size:14px;
	color:#333;
	list-style:none;
	border-top:1px solid #eee;
	background:#fff;
}
.select li:last-child,.select2 li:last-child{
	border-bottom:1px solid #eee;
}
.select li.active,.select2 li.active{
	color:#264fd4;
	background:#fff url(../images/select_true.png) no-repeat 95% center;
}

/********************************************不通过*************************************/
.not_pass{
	padding:20px;
	background:#fff;
	margin-top:10px;
	border-top:1px solid #eee;
}
.not_pass textarea{
	min-height:250px;
	width:100%;
	resize:none;
	font-size:14px;
	color:#333;
	padding:10px;
	border:1px solid #eee;
	background:#f8f8f8;
}
/**************************************任务提醒***********************************************/
.table_test{
	width:100%;
}
.table_test th{
	padding:10px 0;
	text-align:center;
	width:33.33%;
	background:#f2f2f2;
	font-size:14px;
	color:#333;
	font-weight:normal;
}
.table_test td{
	padding:10px 0;
	text-align:center;
	width:33.33%;
	background:#fff;
	font-size:14px;
	color:#333;
	border-bottom:1px solid #eee;
}
.table_test td input{
	color:#fff;
	border:0;
	border-radius:5px;
	background:#264fd4;
	font-size:14px;
	padding:5px 15px;
}
.table_test td.green{
	color:#4cc035;
}
.table_test td.dark{
	color:#999;
}
/***********************************评论******************************************/
.test_name{
	padding:0 0 20px;
}
.test_name b{
	font-size:14px;
	color:#333;
}
.test_name ul{
	float:right;
	overflow:hidden;
}
.test_name ul li{
	float:left;
	list-style:none;
	padding:0px 10px;
	height:25px;
	line-height:25px;
	font-size:12px;
	color:#ed9b31;
	border:1px solid #ed9b31;
	margin-left:10px;
}
.test_name ul li.active{
	background:#ed9b31;
	color:#fff;
}

/************************************任务反馈*******************************/
.up_info ul{
	display:block;
	overflow:hidden;
	margin-bottom:20px;
}
.up_info ul li{
	width:70px;
	height:70px;
	background:#f6f6f6;
	border:1px solid #eee;
	margin-right:10px;
	float:left;
	list-style:none;
	text-align:center;
}
.up_info ul li input{
	width:70px;
	height:70px;
	opacity:0;
}
.up_info ul li img{
	width:30px;
	height:auto;
	display:block;
	margin:10px auto 5px;
}
.up_info .add{
	background:#f6f6f6 url(../images/add.png) no-repeat center;
}
.tips{
	margin:10px auto;
	font-size:14px;
	color:#999;
}
/********************************up_file*************************/
#test_intro{
	padding:20px;
	background:#fff;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
#test_intro span{
	font-size:18px;
	color:#333;
	padding:0 0 10px;
	display:block;
}
#test_intro span i{
	color:#999;
	font-size:14px;
	font-style:normal;
}
#test_intro p{
	text-indent:2em;
	color:#666;
	font-size:16px;
	margin-bottom:15px;
}
#test_intro hr{
	border-style:dashed;
	margin:0 0 20px;
}
.up_pdf,.up_pic{
	overflow:hidden;
	padding-left:20px;
	background:url(../images/up_bg.png) repeat-y left top;
	margin-bottom:10px;
}
.up_pdf ul li{
	list-style:none;
	font-size:16px;
	margin:10px 0;
	color:#333;
	display:block;
}
.up_pdf ul li img{
	margin:-3px 5px 0 0;
}
.up_pic ul li{
	float:left;
	margin:5px 10px 5px 0;
	list-style:none;
	width:30%;
	position:relative;
}
.up_pic ul li img{
	width:100%;
}
.up_pic ul li span{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:rgba(0,0,0,0.5) url(../images/play.png) no-repeat center center;
}
.comment{
	margin-top:10px;
	padding:20px;
	background:#fff;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.comment span{
	font-size:16px;
	color:#666;
	display:block;
}
.comment span i{
	border:1px solid #ed9b31;
	color:#ed9b31;
	font-size:14px;
	padding:5px 15px;
	border-radius:15px;
	font-style:normal;
}
.comment p{
	font-size:16px;
	color:#999;
	margin:20px 0 0;
	padding:20px 0 0;
	border-top:1px solid #eee;
}
/********************************************任务结束2******************************************/
.test_information{
	background:#fff;
	margin-top:10px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.test_name{
	font-weight:bold;
	padding:6px 20px;
	font-size:18px;
	color:#333;
	display:block;
	background:url(../images/next.png) no-repeat 94% center;
	border-bottom:1px solid #f6f6f6;
}
.test_information table{
	width:100%;
	margin:5px 0;
}
.test_information table th{
	width:25%;
	font-weight:normal;
	font-size:14px;
	color:#999;
	text-align:right;
	vertical-align:top;
	padding:5px;
}
.test_information table td{
	font-size:14px;
	color:#333;
	padding:5px;
}
.comment_list{
	overflow:hidden;
	margin-top:10px;
}
.comment_list>ul>li{
	width:100%;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	width:100%;
	padding:20px;
	margin-bottom:10px;
	background:#fff;
}

.comment_list>ul>li span{
	font-size:18px;
	color:#333;
	padding:0 0 10px;
	display:block;
}
.comment_list>ul>li span i{
	color:#999;
	font-size:14px;
	font-style:normal;
	float:right;
}
.comment_list>ul>li p{
	color:#999;
	font-size:14px;
	font-style:normal;
}
.comment_list>ul>li a{
	border:1px solid #ed9b31;
	color:#ed9b31;
	font-size:14px;
	padding:5px 15px;
	border-radius:15px;
}
.comment_list>ul>li a.good{
	border:1px solid #8fc31f;
	color:#8fc31f;
	font-size:14px;
	padding:5px 15px;
	border-radius:15px;
}
.comment_list>ul>li a.bad{
	border:1px solid #999;
	color:#999;
	font-size:14px;
	padding:5px 15px;
	border-radius:15px;
}
.feedback{
	overflow:hidden;
	margin-top:20px;
}
.feedback li{
	float:left;
	margin-right:20px;
	font-size:12px;
	list-style:none;
	color:#999;
}
.feedback img{
	margin:-3px 5px 0 0;
	width:15px;
}















